{% extends "admin/admin_base.html" %}

{% block content %}

<div class="grid grid-cols-3 gap-10">
    <div class="bg-green-500 text-white rounded shadow-lg px-10 py-3">
        <h2 class="text-3xl font-black">40+</h2>
        <h3 class="text-xl font-semibold">Total Order</h3>
    </div>
    <div class="bg-orange-500 text-white rounded shadow-lg px-10 py-3">
        <h2 class="text-3xl font-black">{{products|length}}</h2>
        <h3 class="text-xl font-semibold">Total Products</h3>
    </div>
    <div class="bg-blue-500 text-white rounded shadow-lg px-10 py-3">
        <h2 class="text-3xl font-black">{{categories|length}}</h2>
        <h3 class="text-xl font-semibold">Total Categories</h3>
    </div>
    <div class="bg-blue-500 text-white rounded shadow-lg px-10 py-3">
        <h2 class="text-3xl font-black">{{users|length}}</h2>
        <h3 class="text-xl font-semibold">Total User</h3>
    </div>
    <div class="bg-blue-500 text-white rounded shadow-lg px-10 py-3">
        <h2 class="text-3xl font-black">{{coupons|length}}</h2>
        <h3 class="text-xl font-semibold">Coupons</h3>
    </div>
</div>

{% endblock %}