{% extends 'admin/admin_base.html' %}
{% load tailwind_filters %}

{% block content %}




<div class="flex flex-col">
    <h2 class="text-2xl font-semibold ">Insert Products Here</h2>

    <form action="{% url 'insert-product' %}" method="post" enctype="multipart/form-data" class="text-md">
        {% csrf_token %}
        {{ productform|crispy }}

        <h2 class="my-5 font-semibold">Add Variant</h2>
        {{ variantform.management_form }}
        {% for variant in variantform %}

            <div class="">
                {{ variant|crispy }}
            </div>
        {% endfor %}

        <input type="submit" value="insert product" class="text-white bg-teal-600 px-3 py-2 rounded w-full">
    </form>
</div>


{% endblock %}