{% extends 'admin/admin_base.html' %}
{% load tailwind_filters %}
{% block content %}

<div class="bg-slate-100 flex flex-1 flex-col">
    <!-- Header -->
    <div class="flex-1 bg-teal-600 text-white px-[10%] py-6">
        <h2 class="text-3xl font-semibold">Manage All Payment</h2>
        <p class="text-sm mt-2"> </p>
    </div>


    <div class="flex mt-4 gap-5 px-[10%]">
        <div class="w-full">
            <div class="flex items-center gap-3">
                <p class="text-2xl font-bold text-green-500">Login User Name :</p><span class="text-green-500 text-lg">
                    {{user.username}}</span>
            </div>
            {% for order in orders %}
            <div class="flex flex-col gap-4 mt-6 border rounded-lg bg-white shadow-sm p-4">
               
                <div class="flex items-center justify-between border-b pb-2">
                    <h2 class="text-lg font-semibold">Order ID - {{ order.razor_pay_order_id }}</h2>
                </div>
                <div class="flex">
                    <span class="text-green-500 text-lg">Order Amount : {{order.getpayableamount}}</span>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>


</div>

{% endblock %}