{% extends 'public/base.html' %}

{% load tailwind_filters %}

{% block content %}



<div class=" bg-slate-100 w-full px-[5%]">

    <div class="flex  flex-1 items-start justify-start">
        <nav class="flex " aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                <li class="inline-flex items-center">
                    <a href="{% url 'homepage' %}"
                        class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                        <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                        </svg>
                        Home
                    </a>
                </li>
                {% if order.coupon_id %}
                <li>
                    <div class="flex items-center">
                        <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 9 4-4-4-4" />
                        </svg>
                        <a href="{% url 'cart' %}"
                            class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white">Cart</a>
                    </div>
                </li>
                {% else %}
                <li>
                    <div class="flex items-center">
                        <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 9 4-4-4-4" />
                        </svg>
                        <a href="{% url 'products' %}"
                            class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white">Products</a>
                    </div>
                </li>
                {% endif %}
                <li aria-current="page">
                    <div class="flex items-center">
                        <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 9 4-4-4-4" />
                        </svg>
                        <span class="ms-1 text-sm font-medium text-gray-500 md:ms-2 dark:text-gray-400">Address
                            </Address></span>
                    </div>
                </li>
            </ol>
        </nav>
    </div>



    <div class="flex flex-1  gap-10  ">
        <div class="w-8/12   p-4 rounded-lg mt-2 ">
            <div class=" rounded-lg px-5 py-3 flex flex-1 justify-between items-center border bg-gray-700">
                <span class="text-xl font-semibold text-white">ADDRESS</span>
                <h1 class="text-xl font-bold text-white">Checkout Order</h1>

            </div>

            <div class="flex flex-col flex-1 border rounded-lg mt-2">
                <div class="">

                    <form action="{% url 'address-info' %}" method="post" class="flex flex-col gap-5">
                        {% csrf_token %}
                        <div class=" bg-white divide-y">
                            {% if selected_address %}
                            <h2 class="p-4 text-md font-semibold bg-blue-400">Dilivery address - <span class="px-2 bg-slate-200 text-slate-500 font-normal ">{{selected_address.type}}</span></h2>
                            <div class="p-4 bg-blue-100">
                                <label for="address{{selected_address.id}}" class="flex flex-col">
                                    <input type="radio" name="address" id="address{{selected_address.id}}"
                                        value="{{selected_address.id}}" class="peer hidden" 
                                        {% if order.address and order.address.id == selected_address.id %}checked
                                        {% endif %}
                                        onchange="this.form.submit()">



                                    <div
                                        class="peer-checked:border-blue-100 border px-4 py-2 hover:cursor-pointer rounded peer-checked:bg-blue-100 ">
                                        <h2 class="font-semibold text-md uppercase pb-1">{{selected_address.name}} <span
                                                class="px-3"> {{selected_address.alt_contact}}</span> </h2>
                                        <h2 class="capitalize">{{selected_address.street}},
                                            {{selected_address.landmark}}, {{selected_address.city}},
                                            {{selected_address.state}} - <span
                                                class="font-semibold">{{selected_address.pincode}}</span>
                                        </h2>
                                    </div>

                                </label>
                            </div>
                            {% endif %}

                            {% if other_addresses %}
                            <div class="p-4 ">
                                <h2 class="py-3">Saved Address</h2>
                                {% for address in other_addresses %}
                                <label for="address{{address.id}}" class="flex flex-col gap-5 ">
                                    <input type="radio" name="address" id="address{{address.id}}" value="{{address.id}}"
                                        class="peer hidden" {% if order.address and order.address.id == address.id %}checked {% endif %} onchange="this.form.submit()">

                                    <div class="peer-checked:border-blue-100 border px-4 py-2 hover:cursor-pointer rounded peer-checked:bg-blue-100 m-2">
                                        <div class=" flex flex-col gap-1">
                                            <h2 class="font-semibold text-md uppercase">{{address.name}} 
                                                <span class="px-2 bg-slate-100 text-slate-500 font-normal ">
                                                {{address.type}}
                                                </span>
                                                <span class="px-3"> {{address.alt_contact}}</span>
                                            </h2>
                                            <h2 class="capitalize">{{address.street}},
                                                {{address.landmark}}, {{address.city}},
                                                {{address.state}} - <span class="font-semibold">{{address.pincode}}</span>
                                            </h2>
                                        </div>
                                    </div>
                                </label>
                                {% endfor %}
                            </div>
                            {% endif %}

                        </div>
                    </form>
                </div>
            </div>


            <div class="flex flex-col w-full bg-white mt-2">
                <div class="text-lg font-normal py-1 px-6 text-slate-800 flex justify-between">
                    <span>Insert New Address</span>
                    {% if order %}
                    <a href="{% url 'address' order.id %}?add_new_address=true"
                        class="text-2xl font-bold px-5 bg-slate-100"> +</a>
                    {% endif %}
                </div>
                {% if show_form %}
                <form action="" method="post" class="mt-3 bg-white p-6 rounded-lg">
                    {% csrf_token %}
                    {{form|crispy}}
                    <div class="mt-3">
                        <input type="submit" value="Save Address"
                            class="bg-green-600 py-3 text-xl font-semibold rounded-lg text-white w-full">
                    </div>
                </form>
                {% endif %}
            </div>

        </div>

        <div class="w-4/12 mt-5">

            <div class=" w-full flex flex-col top-0 sticky">
                <div class=" bg-white py-5 px-[10%] self-start ">

                    <span class="border-b pb-3 flex flex-1 text-md font-bold text-gray-400">Price detail</span>

                    <div class="flex flex-col">
                        <div class="w-full flex justify-between py-2">
                            <span class="text-normal">Price({{ orderitems|length}} items)</span>
                            <span class="font-semibold">{{order.gettotalamount}}</span>
                        </div>
                        <div class="w-full flex justify-between py-2 ">
                            <span class="text-normal "> Discount </span>
                            <span class="font-semibold text-green-500">-{{order.gettotaldiscount}}</span>
                        </div>
                        {% if order.coupon_id %}
                        <div class="w-full flex justify-between py-2 flex-1 ">
                            <span class="text-normal">Coupon ( {{order.coupon_id}} ) <a
                                    href="{% url 'removecouponfrombuynow' order.coupon_id.id %}"
                                    class=" text-red-600 mx-2 px-3 font-bold">X</a></span>
                            <span class="font-medium text-gray-400">-₹{{order.coupon_id.amount}} <span>
                        </div>
                        {% endif %}

                        <div class="w-full flex justify-between border-y  py-2 ">
                            <span class="text-normal">Total Amount</span>
                            <span class="font-semibold   text-2xl">₹{{order.getpayableamount|floatformat:0}}</span>
                        </div>
                        {% if not order.coupon_id %}

                        <h2 class="py-2">Apply Coupons</h2>

                        <div class="flex flex-1 pb-2 pt-3   px-2 ">
                            <form action="{% url 'buynowaddCoupon' order.id %}" method="post"
                                class="flex flex-col px-2 py-1">
                                {% csrf_token %}
                                {{couponform|crispy}}

                                <input type="submit" value="Apply Coupon"
                                    class="bg-teal-600 rounded text-white px-2 py-1">
                            </form>

                        </div>
                        {% endif %}
                        <hr class="mt-5 ">
                        <div class="flex flex-1 mt-5 ">
                            <a href="{% url 'makepayment' %}"
                                class="text-lg font-semibold py-2 rounded-lg text-center text-white bg-blue-500 hover:bg-blue-700 w-full">Pay
                                Amount</a>
                        </div>
                        <div class="flex flex-1 py-2 border-t ">
                            <span class="text-sm font-semibold text-green-500">You will save ₹{{order.totalsaving}} on
                                this order</span>
                        </div>






                    </div>

                </div>
                <div class="flex flex-1 gap-5 mt-10 text-xl font-semibold text-slate-400">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-12">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z" />
                    </svg>

                    <p>Safe and Secure Payments.Easy returns.100% Authentic products.</p>
                </div>
            </div>
        </div>








    </div>
</div>

{% endblock %}