{% extends 'public/base.html' %}

{% block content %}




<div class="md:ml-auto md:mr-auto flex flex-wrap items-center text-black  px-[5%] py-10 gap-5">



    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 items-stretch ">
        {% for i in products %}
        <!-- i make changes in loop for pagination. i change products to page_obj  -->
        <a href="{% url 'allproduct' i.id %}" class="bg-slate-100 h-full">

            <div class=" border rounded-lg shadow-lg flex flex-col ">
                <img src="{{i.image.url}}" class="w-full h-80 object-cover  rounded-t-lg "
                    alt="{{i.title}}">

                <div class=" flex flex-col justify-between flex-grow">
                    <h2 class="px-3 font-bold truncate " title="{{i.title}}">{{i.title}}</h2>
                    <p class="px-3 font-semibold truncate  ">{{i.brand}}</p>
                    <p class="px-3 text-md font-medium"> Size :
                        {% for size in i.size.all%}
                        <span>
                            {{size.get_size_display}}|
                        </span>
                         {% endfor %}
                    </p>
                    <h3 class="px-3 py-1 text-md font-semibold"> Price :
                        <span class="text-lg font-semibold">₹{{ i.dis_price }}</span>
                        <del class="text-md text-gray-700 ml-2">₹{{ i.price }}</del>
                    </h3>
                </div>
            </div>

        </a>
        {% endfor %}
    </div>
   



</div>



{% endblock %}