{% extends 'public/base.html' %}

{% load tailwind_filters %}

{% block content %}



<div class=" bg-slate-100 w-full px-10 ">

    <div class="flex  flex-1 items-start justify-start">
        <nav class="flex " aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                <li class="inline-flex items-center">
                    <a href="{% url 'homepage' %}"
                        class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                        <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                        </svg>
                        Home
                    </a>
                </li>
                <li>
                    <div class="flex items-center">
                        <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 9 4-4-4-4" />
                        </svg>
                        <a href="{% url 'cart' %}"
                            class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white">Cart</a>
                    </div>
                </li>
                <!-- <li aria-current="page">
                    <div class="flex items-center">
                        <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 9 4-4-4-4" />
                        </svg>
                        <span class="ms-1 text-sm font-medium text-gray-500 md:ms-2 dark:text-gray-400">Products</span>
                    </div>
                </li> -->
            </ol>
        </nav>
    </div>



    <div class="flex flex-1  gap-10 ">
        <div class="w-8/12 border rounded-lg mt-5 ">
            <div class=" rounded-lg px-5 py-3 flex flex-1 justify-between items-center border bg-white">
                <span>From save address</span>
                <a href="" class="flex items-center justify-center border rounded-lg">
                    <span class="px-3 py-2  text-sm font-bold text-blue-600">Enter Delivary Pincode</span>
                </a>
            </div>


            <div class="flex flex-col gap-4 mt-3">
                {% for i in orderitems %}
                <div class="bg-white w-full self-start">
                    <div class="flex flex-col gap-2 border-t py-5">
                        <div class="flex flex-1 gap-4 ">
                            <div class="w-2/12 flex justify-center items-center ">
                                <div class="w-[100px] h-[100px]">
                                    <img src="{{i.product_id.image.url}}" class="object-cover h-[100px] w-[100px]"
                                        alt="">
                                </div>
                            </div>
                            <div class="w-10/12">
                                <div class="flex flex-col items-start justify-between  h-full">
                                    <h1 class="text-normal font-semibold truncate w-[20]"
                                        title="{{o.product_id.title}}">
                                        {{i.product_id.title | truncatewords:10}}</h1>
                                    <h1 class="text-sm font-bold  w-[20]">Brand: {{i.product_id.brand}}</h1>
                                    <h2>Price: ₹{{i.total_discount_price}} <del
                                            class="text-normal text-slate-600">₹{{i.total_price}}</del>
                                        <span
                                            class="text-green-700 font-semibold text-sm">{{i.getpercentage|floatformat:0}}%Off</span>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-1 mt-2  justify-center   items-center px-5 gap-3">
                            <a href="{% url 'removefromcart' i.product_id.id %}"
                                class="bg-slate-100 rounded-full text-sm px-3 py-1">-</a>
                            <span class="px-3 py-1 text-sm border">{{i.qty}}</span>
                            <a href="{% url 'addtocart' i.product_id.id%}"
                                class="bg-slate-100 rounded-full text-sm  px-2 py-1">+</a>
                            <div class="flex flex-1 justify-start px-4">
                                <a href="{% url 'deletefromcart' i.product_id.id%}" class=" font-bold text-xl ">
                                    <span>remove</span>

                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                {% empty %}
                <h1 class="text-9xl font-bold text-slate-200 flex justify-center items-center">Empty Cart</h1>
                {% endfor %}
                {% if orderitems %}
                <div class=" px-5 py-3 flex  justify-end items-end border sticky fixed bottom-0 left-0  bg-white">

                    <a href="{% url 'address' order.id %}"
                        class="flex items-end justify-center bg-orange-600 px-10 border rounded-lg ">
                        <span class="px-8 py-3 font-bold text-white">Place order</span>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="w-4/12 mt-5">
            <div class="flex flex-col top-0 sticky">
                {% if orderitems %}
                <div class=" bg-white py-5 px-[10%] self-start ">



                    <span class="border-b pb-3 flex flex-1 text-md font-bold text-gray-400">Price detail</span>
                    <div class="flex flex-col">
                        <div class=" flex gap-20 justify-between py-2">
                            <span class="text-normal">Total Amount ({{ orderitems|length}} item{{orderitems|pluralize}})</span>
                            <span class="font-semibold">{{order.gettotalamount}}</span>
                        </div>
                        <div class="gap-20 flex justify-between py-2 ">
                            <span class="text-normal "> Discount </span>
                            <span class="font-semibold text-green-500">-{{order.gettotaldiscount}}</span>
                        </div>
                        {% if order.coupon_id %}
                        <div class="gap-20 flex justify-between py-2 flex-1 ">
                            <span class="text-normal">Coupon ( {{order.coupon_id}} ) <a
                                    href="{% url 'RemoveCoupon' order.coupon_id.id %}"
                                    class=" text-red-600 px-1 font-bold">X</a></span>
                            <span class="font-medium text-gray-400">-₹{{order.coupon_id.amount}} <span>
                        </div>
                        {% endif %}

                        <div class="gap-20 flex justify-between border-y  py-2 ">
                            <span class="text-normal font-semibold">Payable Amount</span>
                            <span class="font-semibold   text-2xl">₹{{order.getpayableamount|floatformat:0}}</span>
                        </div>
                        {% if not order.coupon_id %}
                        <!-- {% if messages %}
                        {% for message in messages %}
                        <h2 class="py-2">{{ message }}</h2>
                        {% endfor %}
                        {% endif %} -->
                        <h2 class="py-2">Apply Coupon</h2>
                        <div class="flex pb-2 pt-3 mx-5 border-b px-2 ">
                            <form action="{% url 'addCoupon' %}" method="post" class="flex flex-col px-2 py-1">
                                {% csrf_token %}
                                {{form|crispy}}

                                <input type="submit" value="Apply Coupon"
                                    class="bg-teal-600 rounded text-white px-2 py-1">
                            </form>

                        </div>
                        {% endif %}
                        <div class="flex  py-2 border-t ">
                            <span class="text-sm font-semibold text-green-500">You will save ₹{{order.totalsaving}} on
                                this order</span>
                        </div>





                    </div>

                </div>
                <div class="flex flex-1 gap-5 mt-10 text-xl font-semibold text-slate-400">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-12">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z" />
                    </svg>

                    <p>Safe and Secure Payments.Easy returns.100% Authentic products.</p>
                </div>
            </div>
        </div>
        {% else %}

        <div class="bg-slate-100">

        </div>

        {% endif %}







    </div>
</div>

{% endblock %}