<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="flex w-full flex-col bg-gray-900">
        <div class="flex  px-[7%] py-[5%] justify-between">
            <div class="flex flex-col gap-5">
                <h1 class="text-lg font-bold text-white">PrintMagic</h1>
                <p class="text-white text-lg font-medium">Custom printing on demand for all <br>your needs. Create unique products <br> with your design.</p>
                  
            </div>
            <div class="flex flex-col gap-3">
                <h1 class="text-lg font-bold text-white">Account</h1>
                <a href="" class="text-white ">T-Shirts</a>
                <a href="" class="text-white ">Hoodies & Sweatshirts</a>
                <a href="" class="text-white ">Mugs</a>
                <a href="" class="text-white ">Phone Cases</a>
                <a href="" class="text-white ">All Product</a>

            </div>
            <div class="flex flex-col gap-3">
                <h1 class="text-lg font-bold text-white">Company</h1>
                <a href="" class="text-white ">About Us</a>
                <a href="" class="text-white ">Contact Us</a>
                <a href="" class="text-white ">Sustainability</a>
                <a href="" class="text-white ">Privacy Policy</a>
                <a href="" class="text-white ">Terms Of Service</a>
            </div>
            <div class="flex flex-col gap-5">
                <h1 class="text-lg font-bold text-white">Contact</h1>
                <p class="text-white">Phone :91- (933) 435-4264</p>
                <p class="text-white">Email : bcashivam11@gmail.com</p>

            </div>
        </div>
        <hr class="">
        <div class="flex flex-1 mb-16 mt-10">
            <p class="text-white justify-center flex flex-1 justify-center">Copyright © 2023 PrintMagic. All rights reserved.</p>
        </div>

    </div>


</body>

</html>