{% extends 'public/base.html' %}

{% block content %}

<div class="flex flex-col">
    <div class="flex flex-1 w-full">

        <div id="indicators-carousel" class="relative w-full z-30" data-carousel="static">
            <!-- Carousel wrapper -->
            <div class="relative h-72 overflow-hidden rounded-lg md:h-96">
                <!-- Item 1 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
                    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/93d40c153935699.6338efdbb9e15.jpeg" class="absolute block w-full h-96" alt="...">
                </div>
                <!-- Item 2 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/custom-t-shirts-banner-design-template-4900533935ea094ef9a9b73571605d04_screen.jpg?ts=1686064763" class="absolute block w-full h-96" alt="...">
                </div>
                <!-- Item 3 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="https://img.freepik.com/premium-photo/vector-illustration-background-banner-colorful-tshirts_719646-694.jpg" class="absolute block w-full h-96" alt="...">
                </div>
                <!-- Item 4 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="https://img.freepik.com/premium-psd/advertising-banner-shirt-with-model_181945-1058.jpg" class="absolute block w-full h-96" alt="...">
                </div>
                <!-- Item 5 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="https://i.pinimg.com/originals/d4/a8/fa/d4a8faa6147ef48adf272d83e2eb279e.jpg" class="absolute block w-full h-96" alt="...">
                </div>
            </div>
            <!-- Slider indicators -->
            <div class="absolute z-30 flex -translate-x-1/2 space-x-3 rtl:space-x-reverse bottom-5 left-1/2">
                <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1"
                    data-carousel-slide-to="0"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2"
                    data-carousel-slide-to="1"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3"
                    data-carousel-slide-to="2"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4"
                    data-carousel-slide-to="3"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5"
                    data-carousel-slide-to="4"></button>
            </div>
            <!-- Slider controls -->
            <button type="button"
                class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                data-carousel-prev>
                <span
                    class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                    <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M5 1 1 5l4 4" />
                    </svg>
                    <span class="sr-only">Previous</span>
                </span>
            </button>
            <button type="button"
                class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                data-carousel-next>
                <span
                    class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                    <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 9 4-4-4-4" />
                    </svg>
                    <span class="sr-only">Next</span>
                </span>
            </button>
        </div>
    </div>

    <div class="flex flex-col w-full px-[8%] py-8">
        <div class="flex flex-1 justify-center">
            <p class="text-3xl font-bold ">Popular Categories</p>
        </div>
        <div class="grid grid-cols-4 gap-5 py-8">

            <div
                class="relative max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 overflow-hidden">
                <a href="{% url 'products' %}" class="group block">
                    <img src="https://rukminim2.flixcart.com/image/832/832/xif0q/t-shirt/n/w/h/s-ts85-vebnor-original-imah9hsfc4xxydfd.jpeg?q=70&crop=false" alt="Random Image"
                        class="rounded-t-lg w-full transform transition duration-300 ease-in-out group-hover:scale-110 h-80" />

                    <p
                        class="absolute inset-0 flex items-center justify-center text-xl font-bold text-white bg-black/40">
                         T-shirt
                    </p>
                </a>
            </div>
            <div
                class="relative max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 overflow-hidden">
                <a href="{% url 'products' %}" class="group block">
                    <img src="https://rukminim2.flixcart.com/image/832/832/xif0q/t-shirt/u/2/0/xl-kwt-rnfulaop1-kelonbro-original-imah8udaegjx6hpv.jpeg?q=70&crop=false" alt="Random Image"
                        class="rounded-t-lg w-full transform transition duration-300 ease-in-out group-hover:scale-110 h-80" />

                    <p
                        class="absolute inset-0 flex items-center justify-center text-xl font-bold text-white bg-black/40">
                        Hoodies & Sweatshirts
                    </p>
                </a>
            </div>
            <div
                class="relative max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 overflow-hidden">
                <a href="#" class="group block">
                    <img src="https://picsum.photos/400/400" alt="Random Image"
                        class="rounded-t-lg w-full transform transition duration-300 ease-in-out group-hover:scale-110" />

                    <p
                        class="absolute inset-0 flex items-center justify-center text-xl font-bold text-white bg-black/40">
                        Women's T-shirt
                    </p>
                </a>
            </div>
            <div
                class="relative max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 overflow-hidden">
                <a href="{% url 'products' %}" class="group block">
                    <img src="https://rukminim2.flixcart.com/image/832/832/xif0q/t-shirt/y/u/1/s-tblhn-dp1-d144-tripr-original-imahcyscfswuhrk9.jpeg?q=70&crop=false" alt="Random Image"
                        class="rounded-t-lg w-full h-80 transform transition duration-300 ease-in-out group-hover:scale-110" />

                    <p
                        class="absolute inset-0 flex items-center justify-center text-xl font-bold text-white bg-black/40">
                        Printed T-shirt
                    </p>
                </a>
            </div>
        </div>


    </div>

    <div class="flex flex-col w-full py-8 px-[8%] bg-slate-100">
        <div class="flex flex-col justify-center items-center">
            <h1 class="text-3xl font-bold text-gray-900 ">Featured Products</h1>
            <p class="text-gray-700 text-lg mt-3 font-semibold">Discover our most popular custom printing products</p>
        </div>

        <div class="grid grid-cols-4 py-[4%] gap-5">

            
            {% for product in page_obj %}
                <div
                class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
                <a href="{% url 'allproduct' product.id %}">
                    <img class="rounded-t-lg w-full object-cover h-80" src="{{product.image.url}}" alt="" />
                </a>
                <div class="p-5">
                    <h2 class="text-xl font-semibold">Brand: <span>{{product.brand}} </span> </h2>

                    <p class="mb-2 text-md font-medium tracking-tight text-gray-900 dark:text-white truncate">{{product.title}}</p>

                    <div class="flex gap-5">
                        <p class="text-lg font-medium">Price <span >{{product.dis_price}}</span> <del>{{product.price}}</del></p>
                    </div>

                    
                    <a href="{% url 'allproduct' product.id %}" class="w-full mt-3 justify-center items-center flex rounded-lg text-lg font-semibold px-4 py-2 bg-blue-500 hover:bg-blue-800 text-white">View Details</a>


                </div>
            </div>
            
            {% endfor %}
                
            

        </div>
        <div class="flex flex-1 items-center justify-end">
            <a href="{% url 'products' %}" class="text-lg font-medium py-2  px-4 border bg-gray-900 hover:bg-blue-800 text-white">View all
                Product</a>
        </div>
    </div>

    <div class="w-full flex text-center bg-sky-100 px-[6%] flex-1 justify-center">

        <div class="flex w-full flex-col py-[6%] items-center justify-center text-gray-700 gap-10">
            <div class="flex flex-1">
                <h1 class="text-5xl font-semibold">Newsletter Updates</h1>
            </div>
            <div class="flex flex-1">
                <p class="text-2xl font-medium">Subscribe to receive emails on new product arrivals & <br> special
                    offers
                </p>
            </div>
            <div class="flex w-full max-w-md gap-3">
                <!-- Email Input -->
                <form action="" method="post">
                    <input type="email" placeholder="Email address"
                        class="flex-1 px-4 py-2 border border-gray-300  focus:outline-none focus:ring-2 focus:ring-red-500" />

                    <!-- Subscribe Button -->
                    <button
                        class="px-6 py-2 text-white bg-red-600  hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500">
                        Subscribe
                    </button>
                </form>
            </div>


        </div>

    </div>
    {% include 'public/footer.html' %}
</div>

{% endblock %}