{% extends 'public/base.html' %}

{% block content %}

<div class=" w-full bg-slate-100">
        <div class="flex flex-1 px-[8%] py-8 gap-10">
            
            {% for product in products %}
                
           
                
            <div class="w-4/12 flex flex-col">
                <div class="flex flex-1">
                    <img src="{{product.image.url}}" alt="random photo" class="object-cover h-[60vh] w-full">
                </div>
                <div class="flex flex-1 mt-3 gap-3 ">
                    <a href="#" class="text-lg font-semibold bg-[#FF8C00] items-center justify-center flex w-full py-2 px-4 bg">Add To Cart</a>
                    <a href="#" class="text-lg font-semibold bg-[#FC4C02] text-white items-center justify-center flex w-full py-2 px-4 bg">By Now</a>
                </div>
           </div>
            <div class="w-8/12 mt-5">
                <div class="flex flex-col space-y-3">
                    <h2 class="text-lg font-semibold text-black">Brand: <span class="text-md">{{product.brand}}</span></h2>
                    <p class="text-xl font-medium text-black ">Title : <span class="text-sm font-semibold line-clamp-1 text-gray-700">{{product.title}}</span></p>
                    <div class="flex flex-1 gap-5">
                        <p class="text-lg font-semibold">Price:</p>
                        <span> {{product.dis_price}} <del>{{product.price}} </del> <span>20% Off</span></span>
                    </div>
                    <div class="flex flex-1 gap-5 items-center">
                        <span class="text-xl font-semibold">Size</span>
                        <div class="flex flex-1 gap-5">
                            <a href="#" class="text-md font-semibold py-1 rounded-sm px-3 bg-gray-200 hover:bg-gray-300">S</a>
                            <a href="#" class="text-md font-semibold py-1 rounded-sm px-3 bg-gray-200 hover:bg-gray-300">M</a>
                            <a href="#" class="text-md font-semibold py-1 rounded-sm px-3 bg-gray-200 hover:bg-gray-300">L</a>
                            <a href="#" class="text-md font-semibold py-1 rounded-sm px-3 bg-gray-200 hover:bg-gray-300">XL</a>
                            <a href="#" class="text-md font-semibold py-1 rounded-sm px-3 bg-gray-200 hover:bg-gray-300">XLL</a>
                        </div>
                    </div>
                    <div class="flex flex-1">
                        <p>Coupon here -----</p>
                    </div>
                    <p class="line-clamp-4 text-md">{{product.title}} </p>
                </div>
            </div>
             {% endfor %}
        </div>
    </div>
  
{% endblock  %}