{% extends 'public/base.html' %}

{% block content %}

<div class=" w-full bg-slate-100">
    <div class="flex flex-1 px-[8%] py-8 gap-10">

        <div class="w-4/12 flex flex-col">
            <div class="flex flex-1">
                <img src="{{products.image.url}}" alt="random photo" class="object-cover h-[60vh] w-full">
            </div>
            <div class="flex flex-1 mt-3 gap-3 ">
                <a href="{% url 'addtocart' products.id %}"
                    class="text-lg font-semibold bg-[#FF8C00] items-center justify-center flex w-full py-2 px-4 bg">Add
                    To Cart</a>
                <a href="#"
                    class="text-lg font-semibold bg-[#FC4C02] text-white items-center justify-center flex w-full py-2 px-4 bg">Buy
                    Now</a>
            </div>
        </div>
        <div class="w-8/12 mt-5 px-[4%]">
            <div class="flex flex-col space-y-3">
                <h2 class="text-lg font-medium text-black">Brand : <span class="text-md text-gray-700">{{products.brand}}</span></h2>
               <div class="flex flex-1 items-center text-lg font-semibold ">
                 Title : <span
                        class="text-sm font-semibold ml-2 line-clamp-1 text-gray-700">{{products.title}}</span>
               </div>
                <div class="flex flex-1 items-center">
                    <p class="text-lg font-semibold mr-2">Price :</p>
                    <span class="mr-3  font-medium"> ₹{{products.dis_price}} <del
                            class="mr-3 text-sm text-gray-700">₹{{products.price}} </del> <span
                            class="text-green-700 text-sm">{{products.getpercentag}} %Off</span></span>
                </div>
                <div class="flex flex-1 gap-5 items-center">
                    <span class="text-xl font-semibold">Size :-</span>

                    {% for size in products.size.all %}

                    <a href="#"
                        class="text-sm font-semibold py-1 rounded-sm px-3 bg-gray-200 hover:bg-gray-300">{{size.get_size_display}}</a>
                    {% endfor %}

                </div>
                <div class="flex flex-1">
                    <p>Coupon here -----</p>
                </div>
                <div class=" text-md"> <span class="text-xl font-medium text-gray-800">Descriptiions
                        :</span>
                    <p class="text-gray-700">{{products.description}}</p>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}